@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap");

:root {
  --bg-color-sec1: #f3eed9;
  --bg-color-sec2: white;
  --bg-color-sec3: #222c2a;
  --bg-color-sec4: #824936;
}

/*globals*/

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 3.75rem;
  letter-spacing: 2px;
  line-height: 3.5rem;
  margin: 10px 10%;
  color: var(--bg-color-sec4);
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.31rem;
}

img {
  width: 100%;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*shared*/

.sec1,
.sec2,
.sec3,
.sec4 {
  width: 100%;
  min-height: 400px;
  max-width: 1328px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.info-container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.col {
  max-width: 450px;
}

.col + .col {
  margin-left: 30px;
}

/*section 1*/

.sec1 {
  text-align: center;
  min-height: 660px;
  background-color: var(--bg-color-sec1);
}

.sec1 p {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

/*section 2*/

.sec2 {
  background-color: var(--bg-color-sec2);
  color: var(--bg-color-sec3);
}

.sec2 h2 {
  color: var(--bg-color-sec4);
  text-align: center;
}

/*section 3*/

.sec3,
.sec4 {
  background-color: var(--bg-color-sec3);
  color: var(--bg-color-sec2);
}

/*section 4*/

.sec4 {
  background-color: var(--bg-color-sec4);
}

@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  p {
    line-height: 1.81rem;
  }

  .sec2,
  .sec3,
  .sec4 {
    padding-top: 2rem;
  }
  .row {
    flex-direction: column;
  }

  .sec2 p {
    margin-bottom: 1rem;
  }

  .sec4 article {
    flex-direction: column-reverse;
  }

  .col + .col {
    margin-left: 0;
  }

  .img-cont {
    margin: 3em 0;
  }
}
