@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap");

:root {
  --nav-color: #2e323f;
  --panel-color: #3b4050;
  --panel2-color: #d2dbdb;
  --panel3-color: #fff;
  --brown: #a59678;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--nav-color);
  padding: 1rem 0;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}

p {
  font-family: "Montserrat", sans-serif;
}

h3,
h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.nav__links,
.logo {
  display: block;
  position: relative;
  text-align: center;
}

.list__items {
  /*ul*/
  list-style: none;
}

.item {
  /*li*/
  color: white;
  margin: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.button__item {
  background-color: var(--brown);
  display: inline;
  padding: 0.4rem 0.5rem;
  border-radius: 1rem;
}

.nav__toggle {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: black; /*burger container*/
  border-radius: 50%;
  position: absolute;
  left: 10px;
  padding: 7px;
}

.nav__hamburger,
.nav__hamburger::before,
.nav__hamburger::after {
  display: block;
  margin: 0 auto; /*burger lines together in the center*/
  height: 3px;
  background: white;
  border-radius: 10px;
}

.nav__hamburger::before,
.nav__hamburger::after {
  content: ""; /*burger reference of existing without characters*/
}

.nav__hamburger::before {
  transform: translateY(-6px); /*burger top line*/
}

.nav__hamburger::after {
  transform: translateY(3px); /*burger middle line*/
}

.nav__links--menu {
  display: none; /*this class is added by js to hide the menu*/
}

main {
  width: 100%;
  min-height: 300px;
  background-color: var(--panel-color);
  font-family: "Oswald", sans-serif;
  color: var(--panel3-color);
  padding: 2rem 0;
}

.main__flex {
  flex-direction: column;
  max-width: 600px;
}

.main__title {
  font-size: 45px;
  line-height: 3rem;
  text-transform: uppercase;
}

.main__title--brown {
  color: var(--brown);
}
.main__content {
  flex-direction: column;
}

.main__content--txt {
  /* font-family: "Montserrat", sans-serif; */
  font-size: 1.1rem;
  padding: 2rem 0;
}

.main__content--btn {
  padding: 0.3rem 1rem;
  background-color: var(--brown);
  /* display: inline; */
  width: max-content;
  border-radius: 50px;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.section1 {
  background-color: var(--panel2-color);
  width: 100%;
  min-height: 400px;
  padding: 1rem 0;
}

.section1__flex,
.section2__flex {
  flex-direction: column;
  justify-content: space-around;
}

.section1__item {
  display: flex;
  flex-direction: column;
}

.section1__item p {
  font-size: 0.9rem;
}

.section1__item h3 {
  font-size: 1.5rem;
  color: var(--brown);
}

.section2__left--flex {
  flex-direction: column;
}

.section2__left--title {
  font-size: 1.5rem;
  color: var(--brown);
  margin-top: 1rem;
}

.section2__left--text {
  font-size: 0.9rem;
  margin: 1rem 0;
}

.section2__left--img {
  width: 100%;
  margin: 1rem 0;
}

.img__container {
  max-height: 300px;
  overflow: hidden;
}

.section2__right--flex {
  flex-direction: column;
}

.section2__right--card {
  background-color: var(--panel-color);
  color: var(--panel3-color);
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.section2__right--card--title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.section2__right--card--text {
  font-size: 0.9rem;
}

footer {
  width: 100%;
  min-height: 400px;
  background-color: var(--panel-color);
  color: var(--panel3-color);
  padding-bottom: 2rem;
}

.footer__flex {
  flex-direction: column;
}

.footer__title {
  font-size: 2rem;
  line-height: 1.8rem;
  margin: 2rem 0;
}

.footer__info--flex {
  flex-direction: column;
}

.footer__info--title,
.footer__about--title {
  color: var(--brown);
  margin-bottom: 0.5rem;
}

.footer__about--title {
  font-size: 1.5rem;
}

.footer__about--text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.footer__info--items {
  list-style: none;
}

.footer__info--item {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

@media (min-width: 600px) {
  .section1 {
    min-height: 300px;
  }

  .section1__flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: inherit;
  }

  .section1__item {
    text-align: center;
    max-width: 221px;
  }

  .section1__item + .section1__item {
    margin-left: 1rem;
  }

  .section2__right--card {
    max-width: 221px;
  }

  .section2__right--flex {
    flex-direction: row;
    justify-content: space-between;
  }

  .section2__right--card + .section2__right--card {
    margin-left: 1rem;
  }

  .footer {
    text-align: center;
  }

  .footer__info--list--section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 1.5rem;
  }
}

@media (min-width: 900px) {
  body {
    display: none;
  }
}
